@model List<MiniStationeryManagement.Mvc.ViewModels.StationeryListItemViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Danh mục</th>
            <th>Giá bán</th>
            <th>Tồn kho</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Supplier</td>
                <td>@item.Category</td>
                <td>@item.PriceText</td>
                <td>@item.Quantity</td>
                <td>@item.StockStatus</td>
                <td>
                    <a asp-controller="Stationery" asp-action="Detail" asp-route-id="@item.Id">Xem</a>
                </td>
            </tr>
        }
    </tbody>
</table>
